<h3 class="text-center text-light text-uppercase mb-2">Contact Form</h3>
<form class="text-light" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="name">Name:</label
    ><input
      type="text"
      class="form-control"
      [(ngModel)]="msg.name"
      name="name"
      #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched"
      pattern="\w{5,}"
      required
      placeholder="Enter your full name."
    />
    <div
      *ngIf="name.touched && (name.errors && (name.invalid || name.touched))"
    >
      <small class="text-danger" *ngIf="name['errors']['required']"
        >Name is required.</small
      >
      <small class="text-danger" *ngIf="name['errors']['pattern']"
        >Name must be at least 5 characters long.</small
      >
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label
    ><input
      type="email"
      class="form-control"
      [(ngModel)]="msg.email"
      name="email"
      #email="ngModel"
      pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
      [class.is-invalid]="email.invalid && email.touched"
      required
      placeholder="Enter a valid email address."
    />
    <div
      *ngIf="
        email.touched && (email.errors && (email.invalid || email.touched))
      "
    >
      <small class="text-danger" *ngIf="email['errors']['required']"
        >Email is required.</small
      >
      <small class="text-danger" *ngIf="email['errors']['pattern']"
        >Email must be a valid format. (eg. steve@email.com)</small
      >
    </div>
  </div>
  <div class="form-group">
    <label for="message">Message:</label
    ><textarea
      class="form-control"
      rows="10"
      [(ngModel)]="msg.message"
      name="message"
      #message="ngModel"
      [class.is-invalid]="message.invalid && message.touched"
      required
      placeholder="Leave us your message."
    ></textarea>
    <small
      class="text-danger"
      [class.d-none]="message.valid || message.untouched"
      >Message is required.</small
    >
  </div>
  <div class="form-check mb-3">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="msg.privacyAgreed"
      name="privacyAgreement"
      required
      #privacyAgreement="ngModel"
      [class.is-invalid]="privacyAgreement.invalid && privacyAgreement.touched"
    /><label for="privacyAgreement" class="form-check-label"
      >Agree to our privacy policy.</label
    >
  </div>
  <button
    class="btn btn-secondary mb-3"
    type="submit"
    [disabled]="userForm.invalid || userForm.untouched"
  >
    Submit
  </button>
</form>
<section class="text-light" [class.d-none]="!submitted">
  <h6>Form submitted successfully!</h6>
  <p>
    <small>Your name: {{ resultName }}</small>
  </p>
  <p>
    <small>Your email address: {{ resultEmail }}</small>
  </p>
  <p>
    <small>Your message: {{ resultMessage }}</small>
  </p>
</section>
