[submodule "cnit-133a/hw5/Drylo"]
	path = cnit-133a/hw5/Drylo
	url = https://github.com/Bo-Fone/Drylo.git
	branch = master
[submodule "cnit-133a/hw6/Enrollment"]
	path = cnit-133a/hw6/Enrollment
	url = https://github.com/Bo-Fone/Enrollment.git
