<div class="container-fluid bg-dark">
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <footer
    class="navbar fixed-bottom navbar-expand-lg justify-content-center navbar-dark bg-dark"
  >
    <img
      src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png"
      alt="HTML5 Powered with CSS3 / Styling, and Semantics"
      title="HTML5 Powered with CSS3 / Styling, and Semantics"
      usemap="#html5logomap"
      class="nav-item"
      style="max-height: 50px;"
    />

    <map name="html5logomap">
      <area
        shape="rect"
        coords="0,0,58,64"
        alt="HTML Validation"
        href="https://validator.w3.org/check?uri=referer"
      />
      <area
        shape="rect"
        coords="58,0,99,64"
        alt="CSS3 Validation"
        href="https://jigsaw.w3.org/css-validator/check/referer"
      />
    </map>
  </footer>
</div>
