#a {
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

#b {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

#c {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: green;
}