<h3 class="text-light text-center text-uppercase">Our Product</h3>
<div
  class="card-columns text-dark text-center"
  *ngFor="let product of products"
>
  <div class="card bg-light" style="width: 200px;">
    <img
      src="./assets/img/product-{{ product.prodid }}.jpg"
      alt="An image of {{ product.shortdesc }}"
      class="card-img-top img-thumbnail"
      style="width: 200px; height: 200px; object-fit: cover;"
    />
    <div class="card-body">
      <h5 class="card-title font-weight-bold">{{ product.shortdesc }}</h5>
      <p class="card-text">{{ product.longdesc }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"
        >{{ product.unitprice }} / {{ product.unitsize }}</small
      >
    </div>
  </div>
</div>
