<div class="card bg-dark text-light text-center">
  <img
    src="./assets/img/Nadine-Greeff-Dark-Food-Photography-6-600x900.jpg"
    alt="Background image"
    class="card-img"
    style="height: 100%;"
  />
  <section class="card-img-overlay">
    <h1 class="card-title text-uppercase">Drylo</h1>
    <h2 class="card-title">Conserved artisan food.</h2>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt
      molestiae fugit. Quos earum officia harum voluptatem doloribus molestias
      beatae a quasi pariatur similique incidunt, error autem dignissimos
      magnam? Iste!
    </p>
    <p class="card-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni facilis
      facere repellendus quis repellat hic aperiam nobis, nulla quae nemo
      aliquam voluptas dolorem fugiat voluptatibus! Earum, magni. Sapiente, eum
      vero. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
      sit, magnam sapiente facilis tenetur error architecto numquam repellendus
      fugiat placeat dignissimos, blanditiis, est ratione animi aut fugit!
      Praesentium, ipsam nihil!
    </p>
    <p class="card-text">
      Please see our offerings!
    </p>
    <a [routerLink]="['/product']" class="btn btn-dark">Product</a>
  </section>
</div>
